@import "./styles/variables";
@import "bootstrap/scss/bootstrap";

html {
  font-size: 14px;
}

.App {
  padding-top: 56px;
  &.without-header-nav {
    padding: 0;
  }
}

.navbar-search-wrapper {
  flex: 1;
}

.navbar-search-wrapper input {
  opacity: 0.4;
}

.navbar-search-wrapper input:focus {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .navbar-search-wrapper {
    flex: auto;
    width: 100%;
  }
}

.sidebar {
  position: fixed !important;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
}

.left-sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 70px);
}

.sidebar-nav li .nav-link {
  color: var(--sidebar-menu-link);
}

.sidebar {
  .nav-link,
  .sidebar-nav__btn--collapse {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .nav-link {
    justify-content: flex-start;
    &.active {
      color: var(--sidebar-menu-link-active)
    }
  }

  .sidebar-nav__btn--collapse {
    justify-content: space-between;
  }

  .sidebar-nav__btn--collapse__text {
    flex: 1;
    text-align: left;
  }

  .nav-link__icon,
  .sidebar-nav__btn--collapse__icon {
    margin-right: 0.8rem;
    font-size: 20px;
  }


}

main {
  padding-top: 70px;

  &.full-page-centered-content {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.card--form {
  width: 95%;
  max-width: 380px;
}

.card--form__logo {
  width: 80px;
  margin: 20px auto 10px auto;
}
