@import "bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "./styles/variables";

@import "bootstrap/scss/bootstrap";

html {
  font-size: 14px;
}

.App {
  padding-top: 56px;
  &.without-header-nav {
    padding: 0;
  }
}

#main-navbar {
  height: 56px;
  transition: all 500ms ease;
  left: 280px;
  .sidebar-small & {
    left: 120px;
  }
}

.icon {
  font-size: 20px;
}

.navbar-search-wrapper {
  flex: 1;
}

.navbar-search-wrapper input {
  opacity: 0.4;
}

.navbar-search-wrapper input:focus {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .navbar-search-wrapper {
    flex: auto;
    width: 100%;
  }
}

.sidebar {
  position: fixed !important;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 0;
  width: 280px;
  transition: all 500ms ease;

  .sidebar-small & {
    width: 120px;
    .nav-link,
    .sidebar-nav__btn--collapse {
      justify-content: center;
      transition: all 300ms ease;

      .icon {
        margin: auto;
      }
    }
    .sidebar-nav__btn--collapse__icon {
      margin: auto;
    }

    .sidebar-nav__btn--collapse__icon--arrow {
      flex: 0 0;
      padding: 0;
      margin: 0 !important;
    }
    .sidebar-nav__btn--collapse__text {
      flex: 0;
    }

    &:hover {
      width: 280px;

      .nav-link,
      .sidebar-nav__btn--collapse {
        justify-content: flex-start;
      }

      .sidebar-nav__btn--collapse__text,
      .nav-link__text {
        transition: opacity 100ms ease;
        transition-delay: 100ms;
      }

      .icon {
        margin: 0 0.8rem 0 0;
      }

      .sidebar-nav__btn--collapse__icon {
        margin: 0 10px 0 0;
      }

      .sidebar-nav__btn--collapse__icon--arrow {
        margin: 10px 0 0 0;
        flex: initial;
      }
      .sidebar-nav__btn--collapse__text {
        flex: auto;
      }
      .nav-link__text,
      .sidebar-nav__btn--collapse__text,
      .sidebar-nav__btn--collapse__icon--arrow {
        opacity: 1;
        width: auto;
      }
    }
  }
}

.sidebar__inner {
  position: sticky;
  top: 0;
  height: calc(100vh - 2rem - 56px);
  background: var(--sidebar-bg);
  margin: 1rem;
}

.sidebar-nav li .nav-link {
  color: var(--sidebar-menu-link);
}

.sidebar {
  .nav-link,
  .sidebar-nav__btn--collapse {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .nav-link {
    justify-content: flex-start;
    &.active {
      color: var(--sidebar-menu-link-active);
    }
  }

  .sidebar-nav__btn--collapse {
    justify-content: space-between;
  }

  .sidebar-nav__btn--collapse__text {
    flex: 1;
    text-align: left;
    transition: none;
    transition-delay: 0ms;
  }

  .nav-link__text {
    transition: none;
    transition-delay: 0ms;
  }

  .nav-link__icon,
  .sidebar-nav__btn--collapse__icon {
    margin-right: 0.8rem;
  }

  .sidebar-nav__btn--collapse__icon--arrow {
    font-size: 14px;
    transition: all 300ms ease;
  }

  .sidebar-nav__btn--collapse {
    &.opened {
      .sidebar-nav__btn--collapse__icon--arrow {
        transform: rotate(-180deg);
      }
    }
  }

  .sidebar-small & {
    .nav-link__text,
    .sidebar-nav__btn--collapse__text,
    .sidebar-nav__btn--collapse__icon--arrow {
      opacity: 0;
      width: 0;
    }
  }
}

.sidebar__header {
  height: 56px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--sidebar-header-bg);

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

main {
  padding-top: 70px;
  margin-left: 280px;
  transition: all 500ms ease;
  .sidebar-small & {
    margin-left: 120px;
  }

  &.full-page-centered-content {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
}

.card--form {
  width: 95%;
  max-width: 380px;
}

.card--form__logo {
  width: 80px;
  margin: 20px auto 10px auto;
}
